<%- include('partials/facultyhead') %>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Course Plan</h1>
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  class="table text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr  >
                            <th >#</th>
                            <th >Course Code</th>
                            <th >Course Name</th>
                            <th >Hours</th>
                            <th >Section Code</th>
                            <th >Time Slot </th>
                            <th >Room</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <%let i = 1; coursePlan.forEach(function(course){ %>   
                  <tr >
                    <td class="align-middle"><%= i %></td>
                    <% i++ %>
                    <td class="align-middle" ><%=course.course_code%></td>
                    <td class="align-middle"><%=course.course_title%></td>
                    <td class="align-middle"><%=course.course_credithours%> + 0</td>
                    <td class="align-middle"><%=course.section_code%></td>
                    <td class="align-middle"><%=course.slot_day%> <%=course.slot_time%></td>
                    <% if(course.room_id === null){%>
                        <td class="align-middle">TBD</td>
                        <% } else {%>
                    <td class="align-middle"><%=course.room_id%></td>
                    <% } %>
                   
                  </tr>
                  <% }); %>
            </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<%- include('partials/facultyfooter') %>