<%- include('partials/facultyhead') %>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Course Plan</h1>
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  class="table text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th >#</th>
                            <th >Section Code</th>
                            <th>Preffered Building</th>
                            <th>Preffered Floor</th>
                            <th>Preffered Room</th>
                        </tr>
                    </thead>
                   
                    <tbody>
                        <%sectionCode.forEach((section, i) => { %>
                            <form action="./prefferedroom">
                            <tr>
                                <td> <%= i+1 %> </td>
                                <td> <%= section.section_code  %>  <input type="text" hidden name="sectioncode" value="<%=section.section_code%>"> </td>

                                <td>
                                  
                                        <%allBuildings.forEach((building, i) => { %>
                                            <input class="buildingCheckbox" type="checkbox" name="building[]" id="<%= building %>" value="<%= building %>" >
                                            <label class="pr-2" for="<%= building %>"><%= building %></label>
                                            <% }) %>
                                   
                                </td>
                                <td>
                                    
                                    <input  type="checkbox" name="floor[]" id="1" value="1" >
                                    <label for="1">1st Floor</label>
                                    <input  type="checkbox" name="floor[]" id="2" value="2" >
                                    <label for="2">2nd Floor</label>
                                    <br>
                                    <input  type="checkbox" name="floor[]" id="3" value="3" >
                                    <label for="3">3rd Floor</label>
                                    <input  type="checkbox" name="floor[]" id="4" value="4" >
                                    <label for="4">4th Floor</label>

                                
                                </td>
                            <td>
                                <% if (singlesectionCode === section.section_code ) { %>
                                </form>
                                <form action="./saveprefferedrooms" method="POST">
                                    <input type="text" hidden name="sectionCode" value="<%=section.section_code%>">
                                    <%getRoomBuildFloor.forEach((room, i) => { %>
                                       
                                        <% let found = bookedRooms[section.slot_id ].some((x) => x.room_id == room.room_id) %>
                                        <% if (found === false){ %>
                                            <input class="roomCheckbox" type="checkbox" name="room[]" id="<%= room.room_id %>" value="<%= room.room_id %>" >
                                            <label class="pr-2" for="<%= room.room_id %>"><%= room.room_id %></label>
                                            <% } %>
    
                                        <% }) %>
                                        <br>
                                    <button id="sh" type="submit">Save</button></form>
                                        
                                <% } else{ %>

                                <button id="showRooms" type="submit">Show Rooms  </button>
                                   <% } %>
                                
                                
                            </td>
                            </tr>
                        </form>
                        <% }) %>
                        
            </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<%- include('partials/facultyfooter') %>

