<%- include('partials/HODhead') %>
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Course Plan</h1>
    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Courses</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  class="table text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr  >
                            <th >#</th>
                            
                            <th >Section Code</th>
                            <th >Faculty ID</th>
                            <th >Faculty Name</th>
                            <th >Course Code</th>
                           
                            <th> </th>
                            
                        </tr>
                    </thead>
                   
                    <tbody>
                        

                        <%let i = 1; facultyRequests.forEach(function(section){ %>   
                  <tr >
                    <td class="align-middle"><%= i %></td>
                    <% i++ %>
                    <td class="align-middle" ><%=section.section_code%></td>
                    <td class="align-middle"><%=section.faculty_id%></td>
                    <td class="align-middle"><%=section.faculty_firstname%> <%=section.faculty_lastname%></td>
                    
                    <td class="align-middle"><%=section.course_code%> </td>
                    
                    
                   <td>

                    <a class="btn btn-success" href="./acceptcourserequest?sectioncode=<%=section.section_code%>&facultyid=<%=section.faculty_id%>">Accept Request <i class="fas fa-plus-square"></i></a>
                    <br>
                    <br>
                    <a class="btn btn-danger" href="./rejectcourserequest?sectioncode=<%=section.section_code%>&facultyid=<%=section.faculty_id%>">Decline Request <i class="fas fa-plus-square"></i></a>
                    
                      </td>
                  </tr>
                  <% }); %>
            </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<%- include('partials/HODfooter') %>